
.container {
    border: 1px solid black;
    max-width: 1200px;
}

[class*="col"] {
    background-color: pink;
    border: 1px solid black;
    min-height: 150px;
    /* line-height: 150px;
    text-align: center; */
}

[class*="row"] [class*="row"] {
    margin: 3px; 
}

[class*="col"] [class*="col"] {
    background-color: fuchsia;
    border: 1px solid white;
}

